.playBox {
  display:flex;
  flex-wrap: wrap;
  border: 10px solid red;
  height: 40vh;
  width: 300px;
  gap:1px;
}


.box {
  border:1px solid red;
  height: 50px;
  width:70px;

}
.container {
  display: flex;
  gap:10px;
}


.container-pieces {
  border:1px solid red;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap:5px;
  height: 100vh;
  width: 200px;
}
.img {
  border: 1px solid red;
  height:50px;
  width: 50px;
}
